::ng-deep .mat-tab-label.mat-tab-label-active {
    min-width: 25px !important;
    padding: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 6px 0px #888;
    color: #2e7bb6;
    font-weight: 700;
    opacity: 1!important;
}
.retaihub-c{
    height: auto!important;
    min-height: auto!important;
    padding: 15px;
}
::ng-deep.mat-tab-body-wrapper{
background-color: #f9f9f9;
box-shadow: 0px 1px 10px 0px #888;
border-radius: 4px;
padding: 10px 15px;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
    background-color: #f9f9f9;
}

::ng-deep .mat-tab-label{
    width: 60px;
    font-size: 12px;
    margin: 15px 0 6px 6px;
    border-radius: 4px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    color: #2e7bb6;
    opacity: 0.3!important;
    padding: 10px!important;
    min-width: 25px!important;
}
::ng-deep .mat-list-base .mat-list-item{
    height: 30px!important;
    border-bottom: solid 1px #ddd;
    font-size: 13px;
    i{
        color: #2e7bb6;
        cursor: pointer;
    }
}
::ng-deep .mat-tab-label .mat-tab-label-content{
    text-align: center;
    display: block!important;
    span{
        display: block;
        text-align: center;
        line-height: 15px;
    }
    i{
        display: block;
        text-align: center;
    }
}




    :host {
    >.container {
        max-width: 1264px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        background: none;
    }


// .left-sidebar{
//     /deep/ {
//         .mat-tab-group {
//             flex-direction: row;
//         }
//         .mat-tab-header {
//           border-bottom: none;
//         }
//         .mat-tab-header-pagination {
//             display: none !important;
//         }
//         .mat-tab-labels {
//             flex-direction: column;
//         }
//         .mat-ink-bar {
//             height: 100%;
//             left: 98% !important;
//         }
//         .mat-tab-body-wrapper {
//             flex: 1 1 auto;
//         }
//     }
// }
    }

.container {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    margin: 0 auto;
    text-align: left;
}

#content {
    box-sizing: content-box;
    margin: 0 auto;
    padding: 15px;

    background-color: #ffffff;
}

#content {

    width: 100%;
    background-color: #ffffff;
    padding: 24px;
    box-sizing: border-box;
}

#content, #main-content {
    &::before,
    &::after {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}


.right-contaier{
    ::ng-deep .mat-tab-label{
        width: auto;
        font-size: 12px;
        margin: 15px 0 0px 6px;
        border-radius: 4px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        color: #2e7bb6;
        opacity: 0.3!important;
        padding: 10px!important;
        min-width: 25px!important;
    }
::ng-deep .mat-tab-header{
    border-bottom: none!important;
}
    ::ng-deep .mat-tab-label.mat-tab-label-active {
        min-width: 25px !important;
        padding: 5px;
        background-color: #f9f9f9;
        box-shadow: 0px 1px 6px 0px #888;
        color: #2e7bb6;
        font-weight: 700;
        opacity: 1!important;
    }
    ::ng-deep.mat-tab-body-wrapper{
    background-color: #f9f9f9;
    box-shadow: 0px 1px 10px 0px #888;
    border-radius: 4px;
    }
    ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar{
        display: none;
    }

    .tabright-list-c{
        ul{
            li{
                border-left: solid 15px #bfd2fa;
                border-bottom: solid 1px #bfd2fa;
                list-style: none;
                padding: 10px;
                text-align: center;
                h3{
                    font-size: 15px;
                    line-height: 20px;
                }
                p{
                    font-size: 13px;
                    line-height: 16px;
                    span{
                        color: red;

                    }

                }
                .qut-box{
                    width: 30px;
                    display: inline-block;
                    ::ng-deep .mat-form-field-infix{
                        width: 30px;
                    }
                    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
                        padding: 0px;
                    }
                    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-flex {
                        padding: 0;
                        margin-top: 0px;
                        position: relative;
                    }
                    ::ng-deep .mat-form-field-wrapper{
                        padding: 0px;
                        margin: 0px;
                    }
                    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline{
                        top: 0px;
                    }
                    ::ng-deep .mat-form-field-infix{
                        padding: 0px;
                        border-top: 0px;
                    }
                    ::ng-deep .mat-form-field-infix{
                        height: 22px;
                        margin-top: 4px;
                    }
                    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
                        border-radius: 0px;
                    }
                    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
                        border-radius: 0px;
                    }
                    ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
                        color: rgba(0, 0, 0, 0.12);
                        background-color: #fff;
                    }
                }
                .button-sec{
                    .mat-stroked-button {
                        border: 1px solid currentColor;
                        padding: 0 8px;
                        line-height: 25px;
                        background-color: #c7c7c7;
                        color: #fff;

                        width: 30px;
                        min-width: 30px;
                        border-radius: 0px;
                    }
                }

                &:nth-child(2){
                    border-left: solid 15px #f8f2c0;
                    border-bottom: solid 1px #f8f2c0;
                }
                &:nth-child(3){
                    border-left: solid 15px #d9f8c2;
                    border-bottom: solid 1px #d9f8c2;
                }
                &:nth-child(4){
                    border-left: solid 15px #f6d8c1;
                    border-bottom: solid 1px #f6d8c1;
                }
            }
        }
    }
    .gray-bg{
        background-color: #f1f1f1;
        padding: 15px;
        margin: 0px 30px;
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper{
            margin: 0px;
            padding-bottom: 6px;
        }

        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-start{
            border-radius: 0px;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline-end{
            border-radius: 0px;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
            color: rgba(0, 0, 0, 0.12);
            background-color: #fff;
        }
        ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix{
            padding: 6px;
        }
    }
    .service-list{
        color: #3d5c7d;
        font-size: 13px;
        i{
            font-size: 15px;
            top: 3px;
    margin-right: 5px;
    position: relative;
        }
    }

    .download-file{
        font-size: 15px;
        i{
            position: relative;
            top: 7px;
            color: #1974bc;
        }
    }
    .perv-c{
        color: #3d5c7d;
        font-size: 15px;
        i{
            position: relative;
            top: 6px;
            color: #1974bc;
        }
    }
}

.top-heading-row{
    font-size:9px;
    text-align: center;
      line-height: 12px;
      color: #262626;
  }
  .retailhub-body-row{
      border:solid 1px #ddd;
      border-radius: 4px;
      background-color: #fff;
      margin-bottom: 0px;
      font-size:12px;
      text-align: center;
        line-height: 14px;
        color: #1974bc;
        .green{
            color: #8add44;
        }
        .red{
            color: #e42f1b;
        }
  }

  ::ng-deep.special-date1 {
    background: #f1e794;
  }
  ::ng-deep.special-date2 {
    background: #bfd2fa;
  }
  ::ng-deep.highlight-date {
    background-color: #FF5722;
    border-radius: 30px;
  }




