<div class="content retaihub-c" fxLayout="row" fxLayout.xs="column" fxFlexFill>
  <span fxFlex="20" class="sec1 mat-h3" fxFlex.xs="55">
    <div class="left-sidebar">
      <div class="container">
        <div id="content">

        </div>
      </div>
    </div>
  </span>
  <span fxFlex="60" class="sec1 mat-h3" fxFlex.xs="55">
    <div class="right-contaier">
      <mat-tab-group mat-align-tabs="end">
        <mat-tab label="Logistics">
          <div class="retaihub-c" fxLayout="row" fxLayout.xs="column" fxFlexFill>
            <span fxFlex="50" class="sec1 mat-h3" fxFlex.xs="55">
              <app-range-calendar></app-range-calendar>

              <div>
                New control end
              </div>
              <mat-card *ngIf="test">
                <mat-calendar #primaryCalendar class="primary-calendar" [dateClass]="dateClass1()" [selected]="selectedDate"
                  (selectedChange)="onSelect($event, qw)">
                </mat-calendar>



                 <mat-calendar #secondaryCalendar class="secondary-calendar" [dateClass]="dateClass1()"
                               (selectedChange)="onSelect($event, qw)">
                </mat-calendar>
              </mat-card>
            </span>


            <span fxFlex="50" class="sec1 mat-h3" fxFlex.xs="55">
              <div class="tabright-list-c">
                <ul>
                  <li>
                    <h3>Routing Change Window</h3>
                    <div class="button-sec">
                      <button mat-stroked-button (click)="rangeChanged('minus', 'count2')"
                        [disabled]="count2 < 1">-</button>
                      <div class="qut-box">
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="" [(ngModel)]="count2">
                        </mat-form-field>
                      </div>
                      <button mat-stroked-button (click)="rangeChanged('plus', 'count2')">+</button>
                    </div>
                    <!-- <p>Auto Submit date <span>Apr 10, 2019</span></p>                     -->
                  </li>
                  <li>
                    <h3>Approval Window</h3>
                    <div class="button-sec">
                      <button mat-stroked-button (click)="rangeChanged('minus', 'count1')"
                        [disabled]="count1 < 1">-</button>
                      <div class="qut-box">
                        <mat-form-field appearance="outline">
                          <input matInput placeholder="" [(ngModel)]="count1">
                        </mat-form-field>
                      </div>
                      <button mat-stroked-button (click)="rangeChanged('plus', 'count1')">+</button>
                    </div>
                    <!-- <p>Auto Submit date <span>Apr 10, 2019</span></p> -->
                  </li>
                </ul>
              </div>
            </span>
          </div>

          <mat-divider style="margin-top:20px; margin-bottom:20px;"></mat-divider>
        </mat-tab>
        <mat-tab label="Workload"> Content 2 </mat-tab>
        <mat-tab label="Sas"> Content 3 </mat-tab>
        <mat-tab label="Pitchbook"> Content 3 </mat-tab>
        <mat-tab label="Genral"> Content 3 </mat-tab>
        <mat-tab label="Alarm Admin"> Content 3 </mat-tab>
      </mat-tab-group>
    </div>
  </span>


</div>


<router-outlet></router-outlet>
