/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

// @import "./theme/custom-theme.scss";
// @import './app/app.theme';

@include mat-core();
// @include app-theme($asm-retail-app-theme);
// @include angular-material-theme($asm-retail-app-theme);

// SCSS Variables -- START

$pixel-0: 0px;
$pixel-10: 10px;
$pixel-20: 20px;
$pixel-30: 30px;

$percentage-100: 100%;

// SCSS Variables -- END

body {
  margin: $pixel-0;
  padding: $pixel-0;
}

.container {
  overflow: hidden;
}

.mat-tab-header-pagination.mat-tab-header-pagination-disabled {
  display: none !important;
}

html,
body,
.app-root {
  height: 100%;
  margin: $pixel-0;
  padding: $pixel-0;
}

.app-root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.mat-drawer-container {
  height: $percentage-100;
}

.margin-left-10 {
  margin-left: $pixel-10;
}

.margin-right-30 {
  margin-right: $pixel-30;
}

.margin-top-20 {
  margin-top: $pixel-20;
}

.margin-bottom-20 {
  margin-bottom: $pixel-20;
}

.height {
  height: 450px;
}

.width-100 {
  width: $percentage-100;
}