<mat-card>
  <mat-calendar #primaryCalendar class="primary-calendar"
                [dateClass]="calendarDateClass()"
                [selected]="selectedDate"
                (eventClicked)="eventClicked($event)"
                (selectedChange)="onSelect($event, qw)">
  </mat-calendar>



  <mat-calendar #secondaryCalendar class="secondary-calendar"
                [dateClass]="calendarDateClass()"
                (selectedChange)="onSelect($event, qw)">
  </mat-calendar>
</mat-card>
